
div#mainContent.container_12
	
	div#chatMessages.grid_8
		h4 Chat messages
	div.grid_3
		h4 Users
		ul#users
	input#textInput.grid_8(placeholder='Enter chat message and press enter to send')
	input#nameInput.grid_3(placeholder='Enter your name')
