
div#mainContent.container_12
    .grid_8
        #chatMessages.grid_8.coolDiv
            h4 Chat messages
        input#textInput.grid_8(placeholder='Enter chat message and press enter to send')
    .grid_4
        .grid_4.coolDiv
            h4 Users
            ul#users
        input#nameInput.grid_4(placeholder='Enter your name')
