!!!
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/960gs.css')
    script(src='/javascripts/jquery.js')
    script(src='/socket.io/socket.io.js')
    script(src='/javascripts/client.js')
  body!= body
  